@model IEnumerable<MVC.Models.Person>

@{
    ViewBag.Title = "data";
}

<h2>My Profile</h2>
<div class="row">
    <div class="col">
        <a href="@Url.Action("Create", "Home") " class="btn btn-primary">New Record</a>
    </div>

    <div class="col">
        @using (Ajax.BeginForm("data", "Home", new AjaxOptions { OnSuccess = "success" }))
        {
            <input class="form-control me-2" name="Search" type="search" placeholder="Search" aria-label="Search ">
            <button class="btn btn-primary" type="submit">Search</button>
        }
    </div>

</div>

<div id="partialzone">

    @Html.Partial("data", Model)

</div>

@section Scripts {
    <script>
        function success(d) {
            $('#partialzone').html(d);
        }
     
    </script>
}
