
<h2>My Profile</h2>
<div class="row">
    <div class="col">
        <a href="@Url.Action("Create", "Home") " class="btn btn-primary">New Record</a>
    </div>
    <div class="col">
        <form class="d-flex" role="search" action="@Url.Action("MyProfile", "Home")" method="post">
            <input class="form-control me-2" name="Search" type="search" placeholder="Search" aria-label="Search ">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

</div>

<div id="partialzone">


</div>

@section Scripts {
    <script>
        
        $.ajax({
            url: "@(Url.Action("PartialVD", "Home"))",
            type: "GET",
            dataType: "Text",
            cache: false,
            async: false,

            success: (data) => {
                $("#partialzone").html(data)
                              
            },

        });
        


    </script>
}
