@model IEnumerable<MVC.Models.Person>

@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>
<div class="row">
    <div class="col">
        <a href="@Url.Action("Create", "Home") " class="btn btn-primary">New Record</a>
    </div>

    <div class="col">
    @using (Ajax.BeginForm("data", "Home", new AjaxOptions { OnSuccess = "success" }))
    {
        <div class="row">
            <div class="col">
                <input class="form-control" name="Search" type="search" placeholder="Search" aria-label="Search ">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    }


    </div>

</div>

<div id="partialzone">

    @Html.Partial("data", Model)

</div>

@section scripts {
    <script>
        function success(d) {
            $('#partialzone').html(d);
        }
     
    </script>
}
